body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(56,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2312a317'/%3E%3Cstop offset='1' stop-color='%23083306'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='13' height='13' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='6.5' cy='6.5' r='6.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.05'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: black;
  font-family: "Montserrat", sans-serif;
}

h2,
a {
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}

.drop-shadow {
  float: right;
}
.drop-shadow img {
  filter: drop-shadow(5px 5px 5px #000000);
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
}

#infoMessage {
  position: absolute;
  right: 17%;
  bottom: 60%;
  font-size: 50px;
  width: 40%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  color: red;
  color: white;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: none;
}

#infoMessage.show {
  display: block;
}

#main {
  padding-top: 10%;
}

#dealRow,
#playerRow {
  min-height: 150px;
}

#dealInfo,
#playerInfo {
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 90%;
}

#dealStand,
#playerStand {
  display: none;
  padding: 5px 5px;
  background: rgb(23, 0, 128);
  color: white;
  font-size: 14px;
  border-radius: 3px;
}

#dealStand.standing,
#playerStand.standing {
  display: inline-block;
}

#cardDeal,
#cardPlayer {
  display: grid;
  grid-template-columns: repeat(20, auto);
  grid-gap: 10px;
  padding: 10px;
}

.gameCards {
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  padding: auto;
  width: 60px;
  height: 80px;
  background: rgb(255, 255, 255);
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

#dealInfo {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.5) 0%,
    rgba(255, 0, 0, 0.8) 100%
  );
}
#dealOne .front {
  display: none;
}
#dealOne.show .back {
  display: none;
}
#dealOne.show .front {
  display: block;
}
#playerInfo {
  background: rgba(0, 0, 255, 0.7);
  background: linear-gradient(
    90deg,
    rgba(0, 4, 255, 0.5) 0%,
    rgba(0, 17, 255, 0.8) 100%
  );
}
#playCon {
  display: inline-flex;
  grid-template-columns: 33%;
  grid-gap: 10px;
  padding: 10px;
}
#playCon input {
  box-sizing: border-box;
  cursor: pointer;
  border-width: 2px;
  border-color: white;
  padding: 7px 13px;
  background: red;
  color: white;
  width: 100%;
  border-radius: 10px;
}

#playHit,
#playerStand {
  display: none;
}
#playCon.playStart {
  grid-template-columns: 50% 50%;
}
#playCon.started #playStart {
  display: none;
}
#playCon.started #playHit,
#playCon.started #playerStand {
  display: block;
}
